:root{
    --responsiveImg: 50px;
}

/* ====== PROFILE STORIES ====== */
.stories-wrap{
    padding: 1rem;
}

.stories{
    display: flex;
    align-items: center;
}

.stories li{
    padding: 1rem;
}

.story img{
    width: 78px;
    height: 78px;
    border-radius: 50%;
}

.story-title{
    margin-top: 8px;
    text-align: center;  
}

.circ{
    width: 78px;
    height: 78px;
    position: absolute;
    border-radius: 50%;
    transform: scale(1.1);
    border: 1px solid #cccccc;
}

/* ====== RESPONSIVE ====== */
@media (max-width: 700px){
    .stories-wrap{
        padding: 0;
        margin-bottom: 10px !important;
    }
    .story-title{
        font-size: 14px;
    }
    .story img{
        width: var(--responsiveImg);
        height: var(--responsiveImg);
    }
    .circ{  
        width: var(--responsiveImg);
        height: var(--responsiveImg);  
    }
}